@import core.process._
@import core.serverModels.businessObject._
@(activity: Activity, businessObject: BusinessObject)

<div class="task_description">

	This task requires from you to select up to @businessObject.getMax() @businessObject.getSAPId()

</div>

<div class="task_data">

	<table class="dataTable">
	
		@defining(businessObject.getNeededAttributesList()) { boAttributes =>
			
			<thead>
			
				<tr>
				
					@for(attr <- boAttributes) {
					
						<td>@attr.getName().replaceAll("([a-z0-9])([A-Z])","$1 $2")</td>
					
					}
					
				</tr>
			
			</thead>
			
			<tbody>
			
			
			</tbody>
		}
	
	</table>

</div>
