@import models.core.process._
@(activity: models.core.process.Activity = null)

@defining(activity.getNextGateway()) { nextGateway =>

@for((nextNode, condition) <- nextGateway.getOptions()) {

@defining(condition.get("activity").asInstanceOf[Activity]) { decisionActivity =>

<h2>Decision Criterion for Activity: @nextNode.getName()</h2>

<form class="auto-submit"
	action="@routes.ActivityDesigner.changeGatewayOption(activity.getModel().getRawId(), activity.getRawId())"
	method="@routes.ActivityDesigner.changeGatewayOption(activity.getModel().getRawId(), activity.getRawId()).method"
	data-target=".gateway_condition-@nextNode.getRawId()">

	<label for="business_object">On the output of which activity is the decision based?</label>
	<input name="decision_activity_name" value="@if(decisionActivity != null){@decisionActivity.getName()}else{Click here to pick an activity.}" disabled />
	<input type="hidden" name="decision_activity" value="@if(decisionActivity != null){@decisionActivity.getRawId()}" />
	<input type="hidden" name="next_node" value="@nextNode.getRawId()" />

</form>

<div class="gateway_condition-@nextNode.getRawId()">

	@util.gateway_condition(activity, nextNode, decisionActivity, condition)

</div>

}

}

}