html {
width: 100%;
height: 100%;
min-width: 320px;
position: relative;
min-height: 100%;
font-family: 'Open Sans', 'Calibri', sans-serif;
font-size: 100%;
overflow: hidden;
font-size: 18px;

background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 170px, rgba(170,170,170,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(170px,rgba(237,237,237,1)), color-stop(100%,rgba(170,170,170,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 170px,rgba(170,170,170,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 170px,rgba(170,170,170,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 170px,rgba(170,170,170,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 170px,rgba(170,170,170,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa',GradientType=0 );
}

* {
margin: 0px;
padding: 0px;
font-family: inherit;
font-size: inherit;
text-decoration: none;
vertical-align: baseline;
border: none;
border-color: rgb(0,0,0);
color: inherit;
outline: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-webkit-backface-visibility: hidden;
-webkit-transition: translate3d(0,0,0);
}

body {
width: 100%;
height: 100%;
position: absolute;
top: 0px;
bottom: 0px;
overflow: hidden;
}

@media (min-width: 600px) {
    body {
    font-size: 16px;
    }
}

#container {
margin: 3%;
text-align: center;
}

#container > * {
text-align: justify;
}

.login-form {
width: 320px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -160px;
margin-top: -20px;
}

input:not([type="radio"]):not([type="file"]), select {
width: 96%;
height: auto;
margin: 2%;
padding: 0.3em 0.2em;
line-height: 1.1em;
vertical-align: middle;
font-size: 1em;
border-top: 1px solid #E7E7E7;
border-left: 1px solid #E7E7E7;
border-right: 1px solid transparent;
border-bottom: 1px solid transparent;
-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
border-radius: 5px;
}

input[type="file"] {
margin: 2%;
}

input[type="submit"], body > *:not(.ui-dialog) button {
max-width: 32%;
margin-left: 66%;
font-weight: 600;
color: #ffffff;
background-color: #52B415;
-webkit-box-shadow: 1px 1px 1px 0px rgba(190, 190, 190, 0.5);
-moz-box-shadow: 1px 1px 1px 0px rgba(190, 190, 190, 0.5);
box-shadow: 1px 1px 1px 0px rgba(190, 190, 190, 0.5);
border-radius: 5px;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus, body > *:not(.ui-dialog) button:hover, body > *:not(.ui-dialog) button:active, body > *:not(.ui-dialog) button:focus {
-webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
cursor: pointer;
}




.process_viewer {
width: 100%;
height: 100%;
position: relative;
}

.process_selector form {
width: 30%;
position: absolute;
margin-left: 1%;
z-index: 5;
}

.process_selector select {
margin: 0;
}

.process_model_viewer {
width: 100%;
height: 100%;
background-color: rgba(250,250,250,1);
}

.process_model {
position: absolute;
background-color: #ffffff;
-webkit-transition: all 1s; /* Safari */
transition: all 1s;
}

.process_model g {
-webkit-transition: fill 1s; /* Safari */
transition: fill 1s;
}

.process_model .bjs-powered-by {
top: 15px!important;
bottom: auto!important;
}

.process_model .current-activity .djs-visual rect {
fill: #52B415;
}

.process_model .current-activity text {
fill: #ffffff;
}

.workbench_main {
width: 60%;
left: 0;
}

.workbench_main h2 {
position: absolute;
left: 0;
top: 0;
padding: 0.2em 0.4em;
background-color: #52B415;
font-weight: 600;
color: #ffffff;
z-index: 1;
}

.task_description {
padding-bottom: 0.4em;
}

.task_name {
font-weight: bold;
}

.workbench_sidebar {
left: 60%;
margin-left: 2%;
right: 0;
}

.gateway_option {
margin-top: 0.5em;
padding: 0.1em 0.5em;
background-color: rgb(187, 187, 187);
border-top: 1px solid rgba(0, 0, 0, 0.2);
border-left: 1px solid rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.gateway_option label {
padding-left: 0.2em;
}

.info {
margin: 2%;
background-color: #52B415;
color: #ffffff;
text-align: center;
padding: 0.5em;
border-top: 1px solid #ffffff;
border-left: 1px solid #ffffff;
-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.none {
width: 100%;
position: absolute;
top: 50%;
margin-top: -1em;
text-align: center;
}

a {
color: #52B415;
}





#header {
width: 100%;
height: 100px;
position: relative;
overflow: hidden;
}

#header, #header * {
-webkit-transition: all 1s; /* Safari */
transition: all 1s;
}

.view-login #header {
height: 40vh;
text-align: center;
padding-bottom: 20px;
padding-left: 120px;
}

.view-login #header .logo {
display: block;
max-width: 370px;
height: 100%;
max-height: 220px;
position: relative;
float: none;
margin: auto;
left: auto;
right: auto;
top: 20px;
bottom: 0;
}

.view-login #header .account_info {
display: none;
}

.view-login #header .logo_img-large {
display: block;
}

.view-login #header .logo_img {
display: none;
}

#header .logo {
float: right;
margin-top: 10px;
margin-right: 10px;
}

#header .logo img {
width: auto;
height: 100%;
}

#header .logo_img-large {
display: none;
}


.account_info {
display: table;
width: auto;
height: 90px;
position: absolute;
left: 1%;
top: 8px;
background-color: #DDDDDD;
border-top: 1px solid rgba(0, 0, 0, 0.2);
border-left: 1px solid rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.account_info > * {
display: table-cell;
vertical-align: middle;
}

.user_img {
border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.user_data {
padding: 10px;
}

.user_name, .user_email {
white-space: nowrap;
}

.user_email {
text-indent: 1px;
}

.user_name {
font-size: 1.2em;
font-weight: 600;
}

.account_info::after {
clear: both;
}



.nav.fixed {
width: auto;
max-width: 30%;
position: fixed;
left: 50%;
text-align: center;
background-color: #52B415;
z-index: 1;
cursor: pointer;
}

.nav.fixed:hover ul {
height: 4.1em;/* 2 + 1.3*|a| */
}

.nav.fixed ul {
height: 0em;
list-style: none;
overflow: hidden;
-webkit-transition: height 1s; /* Safari */
transition: height 1s;
}

.nav.fixed a {
display: block;
padding-left: 10px;
padding-right: 10px;
padding-top: 0.3em;
padding-bottom: 0.3em;
color: #ffffff;
}

.nav.fixed a:hover {
background-color: #6FD32E;
}

.nav.fixed li:first-child a {
padding-top: 0.5em;
}

.nav.fixed li:last-child a {
padding-bottom: 1em;
}

.nav-label {
width: auto;
height: 30px;
line-height: 30px;
position: absolute;
top: 100%;
left: 25%;
right: 25%;
vertical-align: middle;
padding-left: 10px;
padding-right: 10px;
background-color: #52B415;
color: #ffffff;
}

.nav-label::before {
width: 0;
height: 0;
position: absolute;
left: -10px;
border-style: solid;
border-width: 0 10px 30px 0;
border-color: transparent #52B415 transparent transparent;
content: "";
}

.nav-label::after {
width: 0;
height: 0;
position: absolute;
left: 100%;
border-style: solid;
border-width: 30px 9px 0 0;
border-color: #52B415 transparent transparent transparent;
content: "";
}





.process_model_manager {
margin: 1%;
}

.process_model_manager form {
width: 50px;
float: right;
margin-top: -5px;
margin-right: 20px;
}

.process_model_manager input[type="submit"] {
max-width: 100%;
}

.process_model_uploader {
width: 50%;
margin-top: 20px;
margin-left: 1%;
background-color: #DDDDDD;
border-top: 1px solid rgba(0, 0, 0, 0.2);
border-left: 1px solid rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}









/* DataTables */
table {
width: 100%;
}

.dataTables_wrapper {
padding-bottom: 10px;
background-color: #DDDDDD;
border-top: 1px solid rgba(150, 150, 150, 0.5);
border-left: 1px solid rgba(150, 150, 150, 0.5);
box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
overflow: hidden;
}

.dataTables_wrapper table.dataTable {
width: 100%!important;
margin-bottom: 5px;
border-top: 1px solid rgba(200, 200, 200, 0.5);
border-bottom: 1px solid rgba(100, 100, 100, 0.5)!important;
}

.dataTables_wrapper thead {
font-weight: 600;
background-color: rgba(255,255,255,0.9);
}

.dataTables_wrapper table.dataTable thead td {
padding-left: 28px;
background-position: 8px center;
border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.dataTables_wrapper select, .dataTables_wrapper input:not([type="submit"]) {
width: auto;
padding: 0.2em;
text-align: left;
border-right: 1px solid rgba(255,255,255,1);
border-bottom: 1px solid rgba(255,255,255,1);
background-color: rgba(255,255,255,0.8);
box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.3);
}

.dataTables_wrapper select {
padding-right: 0;
margin-right: 5px;
}

.dataTables_length {
width: 40%;
}

.dataTables_filter {
width: 60%;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 0px;
font-size: 0.9em;
}

.dataTables_wrapper .dataTables_info {
padding-top: 0.5em!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
padding: 0.2em 0.3em!important;
}

.dataTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.6);
}

tbody tr.selected {
  background-color: rgba(82, 180, 21, 1)!important;
  color: #ffffff!important;
}

tbody tr:hover:not(.selected) {
background-color: rgba(82, 180, 21, 0.7)!important;
  color: #ffffff!important;
}

tr.selected + tr.selected td, tr.selected + tr:hover td, tr:hover + tr.selected td {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

td {
position: relative;
border-top: 1px solid transparent;
}

.td-inner {
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: inherit;
overflow: hidden;
overflow-y: auto;
}



/* Webmans Loader */

body .loader {
display: -webkit-flex;
-webkit-flex-direction: column;
-webkit-justify-content: center;
display: flex;
flex-direction: column;
justify-content: center;
position: absolute!important;
width: 100%;
height: 100%;
padding-top: 110px;
text-indent: 1rem;
text-align: center;
color: #ffffff;
font-size: 1rem;
background-color: rgba(0,0,0,0.5);
z-index: 10;
-moz-border-radius: inherit;
-webkit-border-radius: inherit;
-khtml-border-radius: inherit;
border-radius: inherit;
}

body .loader.small {
padding-top: 70px;
font-size: 0.7rem;
}

.weri .loader {
    top: 0;
    left: 0;
}

body .loader.small::before {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
}

body .loader.small::after {
    width: 18px;
    height: 18px;
    margin-left: -9px;
    margin-top: -9px;
}

body .loader::before {
    content: " ";
    display: block;
    position: absolute!important;
    width: 50px;
    height: 50px;
    left: 50%!important;
    top: 50%!important;
    right: auto!important;
    bottom: auto!important;
    margin-left: -25px;
    margin-top: -25px;
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(255,255,255,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px rgba(255,255,255,1);
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

body .loader::after {
    content: " ";
    display: block;
    position: absolute!important;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(255,255,255,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(255,255,255,1);
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #ffffff;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-360deg);
        opacity: 0;
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #ffffff;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-360deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}




/* General Layout */
.content {
width: 100%;
}



/* Process Modeler */
.view-processModeler #content {
position: absolute;
top: 100px;
margin-top: 1%;
left: 0;
right: 0;
bottom: 0;
}

.process_modeler {
display: table;
width: 100%;
height: 100%;
border-spacing: 1vw;
table-layout: fixed;
}

.view-processModeler .process_model_viewer, .view-processModeler .workbench {
display: table-cell;
width: 60%;
height: 100%;
position: relative;
margin-left: 1%;
margin-right: 1%;
}

.view-processModeler .workbench {
width: 40%;
}

.workbench > section:not(:target) {
display: none;
}

.workbench > section > *:not(.info) {
padding: 2%;
}

.activity-config, .activity-config > *, .phase-list {
position: relative;
}

.phase-list {
list-style-type: none;
}

.phase-list li, .current-activity-name {
margin-left: 40px;
  margin-right: 2%;
  margin-bottom: 3%;
  padding: 0.4em 0.2em;
  padding-left: 0.6em;
  background-color: #52B415;
  color: #ffffff;
  font-weight: bold;
  counter-increment: list;
  border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
cursor: pointer;
}

.phase-list li::before {
  display: block;
  width: 1.2em;
  height: inherit;
  position: absolute;
  left: 2%;
  margin-top: -0.4em;
  padding: inherit;
  text-align: center;
  font-weight: normal;
  background-color: #52B415;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  content: counter(list) ".";
  border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.phase-list .delete-button {
background-color: transparent;
}

.phase-list .delete-button, .phase-list .hover .delete-button {
background-color: #ffffff;
color: #52B415;
}

.phase-list .delete-button:hover {
background-color: #ffffff;
color: #900;
}

.phase-list li.selected, .phase-list li.selected::before {
background-color: #449911;
}

/* Mark Phase Activities */
.process_model .phase-activity .djs-visual rect {
fill: #52B415;
}

.process_model .phase-activity text {
fill: #ffffff;
}


/* Process Modeler - Overview */
body.view-manageProcessModels {
overflow-y: scroll;
}

.bo-quantity-changer input {
display: inline-block;
width: 3em!important;
}


/* Process Model Viewer */
.zoom-control {
display: table;
position: absolute;
left: 0;
right: 0;
bottom: 0;
border-spacing: 0.8em;
}

.zoom-control > * {
display: table-cell;
position: relative!important;
margin: 0!important;
padding-left: 0!important;
vertical-align: middle;
}

.zoom-control .zoom-out {
padding-bottom: 0.2em;
}

.zoom-control .zoom-range {
width: auto!important;
box-shadow: none!important;
vertical-align: -0.77em!important;
}

.zoom-control .reset {
display: none;
}


/* General Layout Components */
form {
position: relative;
}

form.add input[type="text"] {
padding-left: 2.5em;
}
form.add input[type="submit"], body > *:not(.ui-dialog) button {
position: absolute;
top: 0px;
width: 1em;
height: 1.05em;
line-height: 0.4em;
padding-left: 0.22em;
font-size: 2em;
box-shadow: none;
}

form.add input[type="submit"] {
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

.box {
position: relative;
margin: 1%;

background-color: #ffffff;
border-top: 1px solid rgba(0, 0, 0, 0.2);
border-left: 1px solid rgba(0, 0, 0, 0.2);

-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);

overflow: hidden;
}

.nav.horizontal {
display: table;
width: 100%;
height: auto;
border-spacing: 0;
table-layout: fixed;
background-color: #52B415;
}

.nav.horizontal > * {
display: table-cell;
text-align: center;
}

.nav.horizontal * {
color: #ffffff;
}

.nav.horizontal > * > * {
display: block;
width: 100%;
height: 100%;
padding: 0.7em 0.2em;
}

.nav.horizontal > .active {
background-color: #ffffff;
color: #52B415;
}

.nav.horizontal > .active:not(:last-child) {
border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.nav.horizontal > *:not(.active):not(:last-child) {
box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.4);
}

.nav.horizontal > *:not(.active):last-child {
box-shadow: inset 1px -1px 1px 0px rgba(0, 0, 0, 0.4);
}

.nav.horizontal .active * {
color: #52B415;
}

.nav.horizontal > *:not(.active):hover {
background-color: rgba(255, 255, 255, 0.2);
}

.chosen-container {
margin: 2%!important;
font-size: 1em!important;
}

.chosen-container > * {
padding: 0.3em 0.2em!important;
height: auto!important;
}

.chosen-container div b {
background-position: 0 0.45em!important;
}

.chosen-container-single .search-choice-close {
top: 0.70em!important;
font-size: inherit!important;
}



/* Dialogs for Confirmation */
#dialog-delete {
display: none;
font-size: 0.8em;
}


/* Delete Button */
.delete-button {
  display: none;
  width: 1.1em;
  height: 1.1em;
  float: right;
  line-height: 0.5em;
  vertical-align: middle;
  margin-right: 0.2em;
  padding: 0.2em 0.3em;
  background-color: #900;
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover, .hover > .delete-button {
background-color: #900;
}

*:hover > .delete-button, .hover > .delete-button {
display: inline-block;
}


/* Process Executor */
.view-processExecutor {
overflow: auto;
}

.process_executor .phase-list {
  display: table;
  width: 100%;
  margin-left: -15px;
  table-layout: fixed;
}

.process_executor .phase-list li {
display: table-cell;
position: relative;
border-radius: initial!important;
cursor: default!important;
}

.process_executor  .phase-list > *:first-child {
  border-left: 15px solid #ffffff;
}

.process_executor .phase-list li:not(:first-child) {
padding-left: 30px;
}

.process_executor .phase-list li:after, .process_executor .phase-list li:before, .current-activity-name::after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
    padding: 0;
    background-color: transparent!important;
	position: absolute;
	pointer-events: none;
    z-index: 1;
}

.process_executor .phase-list li:after, .current-activity-name::after {
	border-color: rgba(82, 180, 21, 0);
	border-left-color: #52B415;
  border-width: 1.1em;
  margin-top: -1.05em;
}

.process_executor .phase-list li:before {
border-color: rgba(255, 255, 255, 0);
border-left-color: #ffffff;
border-width: 1.4em;
margin-top: -1.4em;
}

.process_executor .phase-list .delete-button {
display: none!important;
}

.process_executor .workspace {
display: table;
width: 100%;
min-height: 80vh;
padding-top: 0px;
}

.process_executor .workspace > * {
display: table-cell;
position: relative;
vertical-align: top;
}

.process_executor .workspace-sidebar {
width: 30%;
position: relative;
}

.current-activity-name {
position: relative;
margin: 0;
border-radius: initial!important;
}

.workspace .box {
  background-color: #EFEFEF;
}

.workspace-main {
padding: 2%;
overflow: visible;
}

.workspace-main::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 2em;
  top: 0;
  left: -2px;
  background-color: inherit;
}

.activity-description {
margin: 0;
margin-top: 0.4em;
margin-bottom: 2%;
}

.document-explorer {
position: fixed;
  max-height: 45vh;
  left: 3vw;
  right: 66vw;
  bottom: 2.95vw;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 5%;
  margin-right: 5%;
}

.recent-activities {
  margin-right: -10px;
  margin: 0;
overflow: visible;
}

.completed-activities {
  max-height: 5.9em;
  list-style-type: none;
  overflow-y: auto;
}

.completed-activities li {
  padding: 0.3em 0.6em;
  margin-top: -1px;
    border-top: 1px solid rgb(191, 191, 191);
}

.completed-activities li::before {
    content: '\2713';
  float: right;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: -0.28em;
  color: rgb(82, 180, 21);
}

.completed-activities > *:first-child {
  display: none;
}

.workspace h2 {
display: block;
  font-size: 1.2em;
  padding: 0.15em 0.4em;
    color: #666666;
  overflow: hidden;
}

.process_executor .phase-list .current-phase ~ li {
background-color: #AEAEAE;
}

.process_executor .phase-list .current-phase ~ li::after {
border-left-color: #AEAEAE;
}

.workspace-sidebar, .workspace-main, .document-explorer {
}

#process-instances, #process-models {
padding: 2%;
}

#process-models .info {
margin: 1%;
}

.process-model {
  display: block;
  background-color: rgb(250, 250, 250);
}

.process-model:hover {
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.5);
  border-left-color: rgba(0, 0, 0, 0.5);
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.process-model .name {
  padding-left: 5px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.5em;
}

.process_executor .phase-list {
margin-left: -5px;
}

#process-models .phase-list li:before {
  margin-top: -1.33em;
}

.process_executor .phase-list > *:first-child {
  border-left: 15px solid transparent;
}

.process_executor .process-model .phase-list li {
  cursor: inherit!important;
}

.document-explorer .document-list > li{
	margin: 2px;
	padding: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	cursor: pointer;
	
	color: #111;
}

.document-explorer .document-list > li:hover{
	background-color: #dedede;
}

.document-explorer .document-list > li::before{
	background-image: url("/images/icon_document.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
	display: inline-block;
	content: " ";
	
	width: 24px;
	height: 24px;
	
	margin-right: 4px;
	position: relative;
	top: 5px;
}


