.process_viewer {
width: 100%;
height: 50vh;
position: relative;
}

.process_model {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.process_model .current-activity .djs-visual rect {
fill: #52B415;
}

.process_model .current-activity text {
fill: #ffffff;
}