@import core._

@design("Process Guidance") {
   	@defining(AuthController.getUser()) { user =>
   	 	@defining(user.getCurrentProcessInstance()) { processInstance =>
    	
    		<div class="process_viewer">
    		
    			@selectors.process_instance(user)

				@if(processInstance != null) {
					@defining(processInstance.getProcessModel()) { processModel =>
					
						<div class="process_model" data-process_instance="@processInstance.getId()" data-process_model="@processModel.getId()">
						
							<div class="loader">
							
								Process visualization in progress
							
							</div>
							
							<div class="process_model-inner">
							
							</div>
						
						</div>
					
					}
					
					<div class="workbench">
					
						<div class="workbench_main">
						
							@process.activity_instances(processInstance)
						
						</div>
						
						<div class="workbench_sidebar">
						
						</div>
					
					</div>
				
				} else {
				
					<div class="none">
					
						You are currently not executing a process.
					
					</div>
				
				}
				
			</div>

		}
    }
}


