@design("Manager Dashboard") {
<div class="manager_dashboard-area">
	<div class="manager_dashboard">
	
		<div>
		
			<div class="chart new-instances-per-process">
			
				<h2>New Process Instances</h2>
				<div class="diagram"></div>
			
			</div>
			
			<div class="chart duration-per-process">
			
				<h2>Process Duration <small>(min/max/avg)</small></h2>
				<div class="diagram"></div>
			
			</div>
		
		</div>
		
		<div>
		
			<div class="dashboard-control box">
			
				<h3>Process Control Dashboard</h3>
				
				Select a process model for details:
				@selectors.process_model()
			
			</div>
			
			<div class="chart instances-in-time">
			
				<h2>Completed in Time</h2>
				<div class="diagram"></div>
			
			</div>
		
			<div class="chart instances-per-process">
			
				<h2>Running Instances</h2>
				<div class="diagram"></div>
			
			</div>
		
		</div>
	
	</div>
</div>
}