@import core.process._

@design("Process Models") {
	<div class="process_model_manager">
	
	<table class="dataTable">
	
		<thead>
		
			<tr>
			
				<td>
				
					Model-ID
				
				</td>
				
				<td>
				
					Name
				
				</td>
				
				<td>
				
					Active
				
				</td>
				
				<td>
				
					Archived
				
				</td>
			
			</tr>
		
		</thead>
		
		<tbody>
		
			@for(processModel <- ProcessModel.getAll()) {
			
				<tr>
				
					<td>
					
						@processModel.getRawId()
					
					</td>
					
					<td>
						
			<form action="@routes.ProcessController.startProcess" method="post" data-target="#content">
			
				<input type="hidden" name="process_model" value="@processModel.getId()" />
				
				<input type="submit" value="Start" />
			
			</form>
					
						@processModel.getName()
					
					</td>
					
					<td>
					
						@processModel.getNumActiveInstances()
					
					</td>
					
					<td>
					
						@processModel.getNumArchivedInstances()
					
					</td>
				
				</tr>
			
			}
		
		</tbody>
	
	</table>
	
	</div>
	
	@process.model_uploader();
}