@import core.process._
@design("Process Models") {

<div class="process_model_manager box">

	<div class="info">Click on one of the process models to define phases and activities.</div>

	<table class="dataTable">

		<thead>

			<tr>

				<td>Model-ID</td>

				<td>Name</td>

				<td>Active</td>

				<td>Archived</td>

			</tr>

		</thead>

		<tbody>

			@for(processModel <- ProcessModel.getAll()) {

			<tr>

				<td><a href="@routes.Page.processModeler(processModel.getRawId())">@processModel.getRawId()</a></td>

				<td>

					<a href="@routes.Page.processModeler(processModel.getRawId())">@processModel.getName()</a>

				</td>

				<td>@processModel.getNumActiveInstances()</td>

				<td>@processModel.getNumArchivedInstances()</td>

			</tr>

			}

		</tbody>

	</table>

</div>

@process.model_uploader()

}
