@import core.process._

@design("Process Guidance") {
   	@defining(AuthController.getUser()) { user =>
   	 	@defining(user.getCurrentProcessInstance()) { processInstance =>
    	
   		<div class="process_executor">
   		
   			<div class="workbench box">
				<ul class="nav horizontal">
					<li@if(processInstance == null) {class="inactive"}><a href="#current-process">Current Process</a></li>
					<li><a href="#process-instances">Resume a Process</a></li>
					<li><a href="#process-models">Start a new Process</a></li>
				</ul>
				
				<section id="current-process">
					
					@process.process_execution(processInstance)
					
				</section>
				
				<section id="process-instances">
			
				</section>
				
				<section id="process-models">
			
				</section>
			
			</div>

		}
    }
}


