@import core.process._

@design("Process Guidance") {
   	@defining(AuthController.getUser()) { user =>
   	 	@defining(user.getCurrentProcessInstance()) { processInstance =>
    	
   		<div class="process_executor">
   		
   			<div class="workbench box">
				<ul class="nav horizontal">
					<li@if(processInstance == null) { class="inactive"}><a href="@routes.Page.processExecutor#current-process">Current Process</a></li>
					<li><a href="@routes.Page.processExecutor#process-instances">Resume a Process</a></li>
					<li><a href="@routes.Page.processExecutor#process-models">Start a new Process</a></li>
				</ul>
				
				<section id="current-process">
					
					@process.process_execution(processInstance)
					
				</section>
				
				<section id="process-instances">
				
					<div class="info">
					
						Click on the process name to resume the respective process instance.
					
					</div>
				
					@process.tables.process_instances()
			
				</section>
				
				<section id="process-models">
				
					<div class="info">
					
						Select a process model to start the respective process.
					
					</div>
				
				@for(processModel <- ProcessModel.getAll()) {
					
					<a class="process-model box"
						href="@routes.ProcessExecutor.startProcess(processModel.getRawId())"
						data-target="#content">
					
						<div class="name">
						
							@processModel.getName()
						
						</div>
						
						<div class="phase-list">
						
							@process.phase_list(processModel, null)
						
						</div>
					
					</a>
				
				}
			
				</section>
			
			</div>

		}
    }
}


