@import core.process._
@(processInstance: ProcessInstance = AuthController.getUser().getCurrentProcessInstance())

<div class="activity_instances">

@defining(processInstance.getCurrentActivities()) { activityInstances =>
	@for(activityInstance <- activityInstances) {
		@defining(activityInstance.getActivity()) { activity =>
		
		<div class="activity-instance" data-activity_id="@activity.getRawId()"">
		
			<div class="activity-description info">
			
			@activity.getType() match {
	            case "bo_select" 	=> 	{Please select between @activity.getObjectAmountMin() and @activity.getObjectAmountMax() business objects from the table displayed blow.}
	            case "bo_update" 	=> 	{}
	            case "bo_create" 	=> 	{}
	            case "bo_delete" 	=> 	{}
	            case "def_question"	=> 	{@activity.getBO_Properties().get(0)}
	            case _ 			=>	{}
            }
			
			</div>
			
			<div class="activity-operators">
			
			<form action="@routes.ProcessExecutor.performActivity(processInstance.getRawId(), activity.getRawId())"
				method="@routes.ProcessExecutor.performActivity(processInstance.getRawId(), activity.getRawId()).method"
				data-target="#current-process">
			
			@activity.getType() match {
	            case "bo_select" 	=> 	{
					
					<table class="dataTable">
				
					@defining(activity.getBO_Properties()) { boProperties =>
						
						<thead>
						
							<tr>
							
								<td></td>
							
							@for(property <- boProperties) {
							
								<td>@property.toUpperCase().charAt(0)@property.substring(1)</td>
							
							}
								
							</tr>
						
						</thead>
						
						<tbody>
						
						@defining(activity.getBusinessObject()) { businessObject =>
						
							@for(boInstance <- businessObject.getAllInstances()) {
								
								<tr data-bo-type="@businessObject.getDBId()" data-boi-id="@boInstance.getInstanceId()">
								
									<td>
									
										<input type="checkbox" name="selected_bos[]" value="@boInstance.getInstanceId()">
									
									</td>
									
									@for(property <- boProperties) {
									
										<td>@boInstance.getPropertyValue(property)</td>
									
									}
								
								</tr>
								
							}
						
						}
						
						</tbody>
					}
				
					</table>
					
					<input type="submit" value="Proceed" />
					
				}
	            case "bo_update" 	=> 	{}
	            case "bo_create" 	=> 	{}
	            case "bo_delete" 	=> 	{}
	            case "def_question"	=> 	{
					<input name="output_value" value="" />
					<input type="submit" value="Proceed" />
				}
	            case _ 			=>	{}
            }
			
			</div>
		
		</div>
		
		}
	}
}


</div>