@import core.process._
@(processInstance: ProcessInstance = AuthController.getUser().getCurrentProcessInstance())

<div class="activity_instances">

@defining(processInstance.getCurrentActivities()) { activityInstances =>
	@for(activityInstance <- activityInstances) {
		@defining(activityInstance.getActivity()) { activity =>
		
		<div class="activity-instance" data-activity_id="@activity.getRawId()"">
		
			<div class="activity-description">
			
			@activity.getType() match {
	            case "bo_select" 	=> 	{Please select between @activity.getObjectAmountMin() and @activity.getObjectAmountMax() business objects from the table displayed blow.}
	            case "bo_update" 	=> 	{}
	            case "bo_create" 	=> 	{}
	            case "bo_delete" 	=> 	{}
	            case _ 			=>	{}
            }
			
			</div>
			
			<div class="activity-operators">
			
			@activity.getType() match {
	            case "bo_select" 	=> 	{
					
					<table class="dataTable">
				
					@defining(activity.getBO_Properties()) { boProperties =>
						
						<thead>
						
							<tr>
							
							@for(property <- boProperties) {
							
								<td>@property.replaceAll("^([A-Za-z])", "$1".toUpperCase())</td>
							
							}
								
							</tr>
						
						</thead>
						
						<tbody>
						
						@defining(activity.getBusinessObject()) { businessObject =>
						
							@for(boInstance <- businessObject.getAllInstances())) {
								
								<tr>
								
									@for(property <- boProperties) {
									
										<td>@boInstance.getPropertyValue(property)</td>
									
									}
								
								</tr>
								
							}
						
						}
						
						</tbody>
					}
				
					</table>
					
				}
	            case "bo_update" 	=> 	{}
	            case "bo_create" 	=> 	{}
	            case "bo_delete" 	=> 	{}
	            case _ 			=>	{}
            }
			
			</div>
		
		</div>
		
		}
	}
}


</div>