@import core.process._
@(activity: Activity = null)

<div class="activity_designer">

	<form
		action="@routes.ActivityDesigner.changeActivityName(activity.getModel().getRawId(), activity.getRawId())"
		method="@routes.ActivityDesigner.changeActivityName(activity.getModel().getRawId(), activity.getRawId()).method">
		
		<label for="activity_type">Currently selected activity:</label>
		<input type="text" name="activity_name" value="@activity.getName()" disabled />

	</form>

	<form class="auto-submit"
		action="@routes.ActivityDesigner.changeActivityType(activity.getModel().getRawId(), activity.getRawId())"
		method="@routes.ActivityDesigner.changeActivityType(activity.getModel().getRawId(), activity.getRawId()).method"
		data-target=".activity-config">
		
		<label for="activity_type">Which kind of activity needs to be performed?</label>
		<select name="activity_type" data-placeholder="Choose an Activity Type...">
		
		@defining(activity.getType()) { activityType => 
		
			@for((typeId, typeName) <- Activity.getTypes()) {

			<option value="@typeId"@if(typeId.equals(activityType)){ selected}@if(typeId.equals("gateway_decision") && activity.getNextGateway() == null){ disabled}>@typeName</option>

			}
		
		}

		</select>

	</form>

	<div class="activity-config">
	
		@activity_config(activity)
	
	</div>
	
</div>
