@import core.process._
@(processInstance: ProcessInstance = null)

@if(processInstance != null) {

	<div class="process-phases">
	
		@process.phase_list(processInstance.getProcessModel(), processInstance.getCurrentPhase())
	
	</div>
	
	<div class="workspace">
	
		<div class="workspace-sidebar">
		
			<div class="recent-activities box">
			
				<h2>Recent Activities</h2>
				
				<div class="current-activity-name">
				
					@processInstance.getCurrentActivities().get(0).getActivity().getName()
				
				</div>
				
				<ul class="completed-activities">
				
				@for(completedActivityInstance <- processInstance.getCompletedActivities()) {
				
					<li>
					
						@completedActivityInstance.getActivity().getName()
					
					</li>
				
				}
				
				</ul>
			
			</div>
			
			<div class="document-explorer box">
			
				<h2>Related Documents</h2>
				
				<div class="related-documents">
				
					
				
				</div>
			
			</div>
		
		</div>
		
		<div class="workspace-main box">
		
			@process.activity_instances(processInstance)
		
		</div>
	
	</div>

} else {

	<div class="info">
	
		You are currently not executing a process.
	
	</div>

}