@import core.process._
@(processInstance: ProcessInstance = AuthController.getUser().getCurrentProcessInstance())
<!--
<div class="process_viewer">

@if(processInstance != null) {
	@defining(processInstance.getProcessModel()) { processModel =>
	
		<div class="process_model" data-process_instance="@processInstance.getId()" data-process_model="@processModel.getId()">
		
			<div class="loader">
			
				Process visualization in progress
			
			</div>
			
			<div class="process_model-inner">
			
			</div>
		
		</div>
	
	}
	
	<div class="workbench">
	
	<div class="workbench_main">
	
	@defining(processInstance.getCurrentActivities()) { activityInstances =>
		@for(activityInstance <- activityInstances) {
			@defining(activityInstance.getActivity()) { activity =>
				@defining(activity.getNextGateway()) { nextGateway =>
				
					<div class="activity_instance" data-activity_id="@activity.getRawId()" data-next_activities="@for(nextActivity <- activity.getNextActivities()){@nextActivity.getRawId(),}">
					
						@if(nextGateway != null) {
						
							<form class="action_gateway" action="@routes.ProcessController.performGatewayAction()" method="post">
							
								<input type="hidden" name="process_instance" value="@processInstance.getId()">
								<input type="hidden" name="current_activity" value="@activity.getRawId()">
							
								<h2>
								
									@activity.getName()
								
								</h2>
								
								<div class="content">
								
									<div class="task_description gateway_condition">
									
										@nextGateway.getCondition()
									
									</div>
									
								@nextGateway.getType() match {
        							case "XOR" 	=> 	{@actions.gateways.xor(nextGateway)}
        							case "OR" 	=> 	{@actions.gateways.or(nextGateway)}
        							case "AND" 	=> 	{@actions.gateways.and(nextGateway)}
        							case _ 		=>	{@actions.gateways._none(nextGateway)}
    							}
    								
    								<input type="submit" value="Next">
    							
    							</div>
    						
    						</form>
    					
						} else {
							@defining(activityInstance.getActivity()) { activity =>
							
								<form action="@routes.ProcessController.performActivity()" method="post">
								
									<input type="hidden" name="process_instance" value="@processInstance.getId()">
									<input type="hidden" name="current_activity" value="@activity.getRawId()">
									
									<div class="task_area">
									
										<h2>
										
											@activity.getName()
										
										</h2>
										
										<div class="content">
									
    								@defining(activity.getBusinessObjects()) { businessObjects =>
    									@activity.getAction() match {
        									case "select" 	=> 	{@actions.bos.select(activity, businessObjects)}
        									case "update" 	=> 	{@actions.bos.update(activity, businessObjects)}
        									case "create" 	=> 	{@actions.bos.create(activity, businessObjects)}
        									case "delete" 	=> 	{@actions.bos.delete(activity, businessObjects)}
        									case _ 			=>	{@actions.bos._none(activity)}
    									}
    									@documents.viewer()
    								}
									
											<input type="submit" value="Next">
    								
    									</div>
    								
    								</div>
								
								</form>
   							}
   						}
   					
   					</div>
				
				}
   			}
   		}
	}
	
	</div>
	
	<div class="workbench_sidebar">
	
	</div>
	
	</div>

} else {

	<div class="none">
	
		You are currently not running any processes.
	
	</div>

}

</div>  -->