@import core.process._
@(user: util.session.User = AuthController.getUser())

<div class="process_selector">

	@defining(user.getProcessInstances()) { processInstances =>
	
		@if(processInstances.length > 0) {
		
			<form action="@routes.ProcessExecutor.setCurrentProcess" method="post" data-target="#content">
			
				<select name="process_instance">
				
					@selectors.options.process_instance(processInstances, user.getCurrentProcessInstance())
				
				</select>
			
			</form>
		
		} else {
			<div class="info no-process_instance">
			
				There are no processes currently running. Please start a new process.
			
			</div>
			
			@selectors.process_model()
		}
	
	}

</div>