@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.css"))'>
        
		<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
		<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))'></script>
		
		<!-- dependencies -->
  <script src="/assets/javascripts/bpmn-js-seed-master/bower_components/jquery/dist/jquery.js"></script>
  <script src="/assets/javascripts/bpmn-js-seed-master/bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
  <script src="/assets/javascripts/bpmn-js-seed-master/bower_components/lodash/dist/lodash.js"></script>
  <script src="/assets/javascripts/bpmn-js-seed-master/bower_components/sax/lib/sax.js"></script>
  <script src="/assets/javascripts/bpmn-js-seed-master/bower_components/Snap.svg/dist/snap.svg.js"></script>

  <!-- bpmn-js viewer -->
  <script src="/assets/javascripts/bpmn-js-seed-master/bower_components/bpmn-js/dist/bpmn-viewer.js"></script>
        
    </head>
    <body>
        
		@content
  		
    </body>
</html>

<script data-main="@routes.Assets.at("javascripts/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
