@(title: String)(content: Html)

@if(Controller.request().getQueryString("contentonly") != null) {

	@content

} else {

	<!DOCTYPE html>
	<html>
    	<head>
        	<title>@title</title>
        	
        	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        	<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.dataTables.min.css"))">
        	<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("chosen.min.css"))">
        	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        	
        	@Html(org.webjars.play.RequireJS.setup(routes.Assets.versioned("javascripts/main.js").url))
        	
			<script>
				requirejs.config({"paths":{"jquery-panzoom":"@routes.Assets.at("javascripts/jquery.panzoom.min.js").url.replaceAll(".js$", "")"},"shim":{"jquery-panzoom":["jquery"]}})
				
				/* Fixing broken bpmn-js 0.8.0 dependencies!!! */
				requirejs.config({"paths":{"sax":["@routes.WebJarAssets.at(WebJarAssets.locate("sax.js")).url.replaceAll(".js$", "")","sax"]}})
				requirejs.config({"paths":{"bpmn-viewer":["@routes.WebJarAssets.at(WebJarAssets.locate("bpmn-viewer.js")).url.replaceAll(".js$", "")","bpmn-viewer"]},"shim":{"bpmn-viewer":["jquery","jquery-mousewheel","lodash","sax", "snap-svg"]}})
			</script>
   	 	</head>
    	<body class="view-@Controller.request().path().substring(1)">
    	
    		<div id="general">
    		
    			@general(content)
			
			</div>
  				
   	 	</body>
	</html>

}